public-hoist-pattern[]=*@heroui/*
@tiptap-pro:registry=https://registry.tiptap.dev/
@tiptap-cloud:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=tgvL/4EZvdirxqpGB+6Ko+wJs4d0/sIw6E8mtzBPv8WFbtR6NZPFN+bwcsws6c2E


package-lock=true
